<main>
    <form class="login" [ngClass]="(active == true)?'active':'naah'" #loginform='ngForm'>
        <!--
        <img src="assets/icons/logo-krak.png" alt="">    
        -->
        <img src="../../assets/images/BGs/coral2-blue.png" alt="" class="background-img left">
        <img src="../../assets/images/BGs/coral2-blue.png" alt="" class="background-img right">
        
        <h1>Log In</h1>
        <app-input 
        [label]="'Email'" 
        [placeholder]="'Email'" 
        [(inputModel)]="loginCreds.mail" 
        [type]="'email'"
        [darkMode]='false'></app-input>
        <app-input 
        [label]="'Password'" 
        [placeholder]="'Password'" 
        [(inputModel)]="loginCreds.password" 
        [type]="'password'"
        [darkMode]='false'></app-input>
        <app-button-three [text]="'Login'"></app-button-three>
    </form>
</main>
