<div class="menuFish">
    <!--
    <a [routerLink]='["/fishes/fighting"]'><div class="dot" routerLinkActive="active"></div></a>
    <a [routerLink]='["/fishes/golden"]'><div class="dot" routerLinkActive="active"></div></a>
    <a href=""><div class="dot"></div></a>
    <a href=""><div class="dot"></div></a>        
    -->

    <div class="next">
        <a class="next-square" [routerLink]='["/fishes/fighting"]' routerLinkActive="active"></a>
    </div>
    <div class="next">
        <a class="next-square" [routerLink]='["/fishes/golden"]' routerLinkActive="active"></a>
    </div>
    <div class="next">
        <a class="next-square" [routerLink]='["/fishes/jelly"]' routerLinkActive="active"></a>
    </div>
    <div class="next">
        <a class="next-square" [routerLink]='["/fishes/a"]' routerLinkActive="active"></a>
    </div>

</div>
