<div class="menuFish">
    <p>TROPIC</p>
    <p>FISH</p>
    <a [routerLink]='["fish/fight-fish"]'><div class="dot" routerLinkActive="active"></div></a>
    <a [routerLink]='["fish/gold-fish"]'><div class="dot" routerLinkActive="active"></div></a>
    <a href=""><div class="dot"></div></a>
    <a href=""><div class="dot"></div></a>
    <div class="scroll">
        <div class="mouse">
            <svg width="30px" height="50px" viewBox="0 0 40 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="mouse-icon">
                <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Scrolling-mouse-icon" transform="translate(-230.000000, -221.000000)" fill="#FFFFFF">
                        <g id="Mouse-icon" transform="translate(230.000000, 221.000000)">
                            <path d="M20,5.58108108 C12.0470996,5.58108108 5.6,12.0063999 5.6,19.9324324 L5.6,39.0675676 C5.6,46.9936001 12.0470996,53.4189189 20,53.4189189 C27.9529004,53.4189189 34.4,46.9936001 34.4,39.0675676 L34.4,19.9324324 C34.4,12.0063999 27.9529004,5.58108108 20,5.58108108 Z M20,0 C31.045695,-2.12442676e-15 40,8.92405397 40,19.9324324 L40,39.0675676 C40,50.075946 31.045695,59 20,59 C8.954305,59 1.42108547e-15,50.075946 0,39.0675676 L0,19.9324324 C-1.42108547e-15,8.92405397 8.954305,2.12442676e-15 20,0 Z" id="Rectangle-4" fill-rule="nonzero"></path>
                            <ellipse id="scroll-pointer" cx="20" cy="19.9324324" rx="4" ry="3.98648649"></ellipse>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>
