main{
    width: 100%;
    display: flex;

    >*{
        overflow-x: hidden;
    }
    .view-posts{
        width: 50%;
        height: 100vh;

    }

    .change-post{
        width: 50%;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: var(--smooth-shadow-big);
    }
}