
.showoff{
    position: absolute;
    width: 100%;
    height: 250%;
    /*
    background-size: contain;
    top: -10%;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/fish/fish1.jpg');*/

    font-family: 'Ropa Sans', sans-serif;
    background-color: black;

    display: grid;
    grid-template-columns: 2fr 2fr 4fr 2fr 2fr 2fr 1fr;
    grid-template-rows: repeat(10,2fr) ;   
}

.fishBG{
    background-size: contain;
    
    background-repeat: no-repeat;
    background-image: url('../../assets/images/fish/gold-fish-2.jpg');
    

    grid-row: 1/span 6;
    grid-column: 1/-1;
}
/*********** NAME ****************/

.Name{
    grid-row: 2/ span 2;
    grid-column: 4/span 2;
    background: rgba(10, 10, 10, 0);
    
    animation: 2s ease-out 0s 1 NameSlide;
    
}

.Name > div{
    letter-spacing: 17px;
    font-weight: 900;
    font-size: 126px;
    background: linear-gradient(90deg, rgba(70,70,70,1) 0%, rgba(140,140,140,1) 43%, rgba(172,172,172,1) 64%, rgba(232,232,232,0.7679446778711485) 100%);
    background-clip: text;
    color: transparent;
    
}

.Name > div:nth-child(1){
    
    font-size: 40px;
    background: linear-gradient(90deg, rgba(233,246,104,1) 10%, rgba(240,203,16,1) 32%, rgba(236,117,20,1) 45%, rgba(229,111,19,1) 60%, rgba(94,0,0,1) 83%);
    background-clip: text;
    color: transparent;
    
    text-align: center;

}
.Name > div:nth-child(2){
    
    text-align: left;
    
}
.Name > div:nth-child(3){
    
    text-align: right;
    
}

@keyframes NameSlide {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

/************* TEXT 1 ***************/
.closeLook{
    grid-row: 2/ span 2;
    grid-column: 2;
    background-color: rgba(64, 224, 208, 0);
}

.closeLook> hr{
    border: none;
    border-radius: 2px;
    float: left;
    height: 10px;
    width: 30px;
    background-color: rgb(202, 81, 0);
}

.closeLook > p:nth-of-type(1){
    float: left;
    color: rgb(211, 211, 211);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 6px;
    line-height: 28px;
    text-align: justify;
}


/************* TEXT 2 ***************/

.textShort{
    
    grid-row: 4/ span 3;
    grid-column: 3/span 1;
    background-color: rgba(238, 130, 238, 0);
    padding-left: 30px;
}

.textShort > hr{
    border: none;
    border-radius: 2px;
    float: left;
    height: 10px;
    width: 30px;
    background-color: rgb(202, 74, 0);
}

.textShort > p:nth-of-type(1){
    color: white;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 2px;
}

.textShort > p:nth-of-type(2){
    float: left;
    color: rgb(185, 185, 185);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 6px;
    line-height: 28px;
    text-align: justify;
    
}

.followUs{
    grid-row: 7/span 1;
    grid-column: 2;
    background-color: rgba(0, 128, 128, 0);
    z-index: 10;
}

.followUs > p{
    padding: 24%;
    float: bottom;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.followUs > p i{
    text-decoration: none;
    margin-left: 14px;
    color: white;
}

/************ AFTER SCROLL ******************/
.specs{
    grid-row: 7/span 4;
    grid-column: 1/-1;
    background-color: black;

}

.picFight{
    grid-row: 8/span 3;
    grid-column: 1/span 3;
    background-image: url('../../assets/images/fish/gold-fish-1.jpg');
    background-size: contain;
    background-repeat: no-repeat ;

}

.fishInfo{
    grid-row: 8/span 3;
    grid-column: 4/span 2;
    background-color: rgba(0, 0, 255, 0);
    margin: 30px;
    opacity: 0;

    transition: 2s ease-in-out all;
}

.fishInfo hr{
    float: left;
    border: none;
    background-color: rgb(206, 117, 0);
    width: 40px;
    height: 10px;
    border-radius: 4px;
}

.fishInfo p{
    float: left;
    color: rgb(185, 185, 185);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 6px;
    line-height: 28px;
    text-align: justify;

    

}



.fishInfoFollow{
    grid-row: 10/span 2;
    grid-column: 5/span 2;
    background-color: rgba(165, 42, 42, 0);
    opacity: 0;

    transition: 5s ease-in-out all;
}

.fishInfoFollow hr{
    float: left;
    border: none;
    background-color: rgb(238, 182, 0);
    width: 40px;
    height: 10px;
    border-radius: 4px;
}


.fishInfoFollow p{
    float: left;
    color: rgb(185, 185, 185);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 6px;
    line-height: 28px;
    text-align: justify;

}

.bonus{
    grid-column: 3/span 2;
    grid-row: 7;
    opacity: 0;
    background: rgba(137, 43, 226, 0);

    transition: 2s ease-in-out all;
}

.bonus > hr{
    width: 100%;
    padding: 0;
    margin:0;
    border: rgb(255, 174, 0) 1px solid;
    border-radius: 3px;
    height: 6px;
    background-color: rgb(255, 238, 0);

}

.bonus > p{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(90deg, rgba(245,255,3,1) 20%, rgba(240,203,16,1) 39%, rgba(236,117,20,1) 56%, rgba(229,111,19,1) 75%, rgba(94,0,0,1) 99%);
    background-clip: text;
    color: transparent;
}

.visible{
    opacity: 1;
}

/******* CLICK TO FIND IN ZOO *******/

.greatButton{
    grid-row: 10/span 1;
    grid-column: 3/span 2;
    background-color: rgba(95, 158, 160, 0);
}

.greatButton a{
    text-decoration: none;
    background: rgba(194, 194, 194, 0);
    box-shadow: 1px 1px 5px rgb(255, 217, 0);
    font-size: 22px;
    font-weight: 600;
    padding: 20px;
    border: none;
    color: rgb(255, 136, 0);
    border: rgb(252, 185, 0) solid 2px;
    margin: 20px;
    margin-left:150px;
    text-align: center;
    transition: 1s all ease-in-out;
    
}

.greatButton a:hover{
    background: rgb(255, 196, 0);
    box-shadow: 1px 1px 10px rgb(255, 217, 0);
    padding: 26px;
    margin: 34px;
    margin-left:150px;
    border: none;
    color: black;

}