<div class="showoff">
    <div class="fishBG">

    </div>
    <div class="Name">
        <div>
            COMMON
        </div>
        <div>GOLD</div>
        <div>FISH</div>
    </div>    
    <div class="textShort">
        <p>OVERVIEW</p>
        <hr>   
        <p>
            The Siamese fighting fish (Betta splendens), also known as the betta, is a popular fish in the aquarium trade.
            Bettas are a member of the gourami family and are known to be highly territorial. Males in particular are prone to
            high levels of aggression and will attack each other if housed in the same tank. If there is no means of escape,
            this will usually result in the death of one or both of the fish. 
        </p>  
    </div>
    <div class="closeLook">
        <hr>
        <p>
            Female bettas can also become territorial towards each other if they are housed in too small an aquarium.           
        </p>
    </div>
    <div class="followUs">
        <p>Follow us! 
            <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a> 
            <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </p>
    </div>

    <div class="specs">

    </div>
    <div class="picFight">

    </div>
    <div class="bonus" [ngClass]="(isVisible2==true)?'visible':'naah'">
        <hr>
        <p>GOLDFISH HAVE LONGER ATTENTION SPANS THAN HUMANS™</p>
        <hr>
    </div>
    <div class="fishInfo" [ngClass]="(isVisible==true)?'visible':'naah'">
        <hr>
        <p>
            Some people of Thailand and Malaysia are known to have collected these fish prior to the 19th century from the
             wild which are line-bred for aggression in eastern Thailand.

            In the wild, betta spar for only a few minutes before one fish backs off. Bred specifically for
             heightened aggression, domesticated betta matches can go on for much longer, with winners determined by a willingness to 
             continue fighting. Once a fish retreats, the match is over.
            </p>
    </div>
    <div class="fishInfoFollow" [ngClass]="(isVisible==true)?'visible':'naah'">
        <hr>
        <p>
            The minimum tank size is directly related to how experienced the fish keeper is, and how often they want to carry out water changes, 
            in order to keep the water pristine. The Betta must of course have enough room to turn around, but there is no evidence that they require a lot of space.            
        </p>
    </div>
    
    <div class="greatButton">
        <a href="">NO HOMO THO <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></a>
    </div>
</div>

