
<router-outlet></router-outlet>

<nav>
    <!--
    <div class="user">
        <img src="../../assets/icons/user-admin.svg" *ngIf='user.fullRights'alt="">
        <img src="../../assets/icons/user.svg" *ngIf='!user.fullRights'alt="">
        <div class="username">{{user.username}}</div>
        <div>{{user.email}}</div>
    </div>
    <app-button-three-alt [text]="'Posts'" (onclick)="navigate('posts')"></app-button-three-alt>
    <app-button-three-alt [text]="'Users'" (onclick)="navigate('users')"></app-button-three-alt>
    <app-button-three-alt [text]="'Orders'" (onclick)="navigate('orders')"></app-button-three-alt>
    <app-button-three-alt [text]="'Stats'"></app-button-three-alt>
    <app-button-three [text]="'Logout'" (onclick)="logout()"></app-button-three>
    <button (click)='openNav = !openNav'>
        <img src="../../assets/icons/arrow-right.svg" alt="">
    </button>        
    -->
    <a [routerLink]='["posts"]' routerLinkActive="active">
        <img src="../../assets/icons/posts.svg" alt="">
    </a>
    <a [routerLink]='["orders"]' routerLinkActive="active">
        <img src="../../assets/icons/orders.svg" alt="">
    </a>
    <a [routerLink]='["users"]' routerLinkActive="active">
        <img src="../../assets/icons/users.svg" alt="">
    </a>
    <a [routerLink]='["options"]' routerLinkActive="active">
        <img src="../../assets/icons/settings.svg" alt="">
    </a>

    <button (click)="logout()">
        <img src="../../assets/icons/logout.svg" alt="">
    </button>

</nav>