<main [ngClass]='currentPost == -1 ? "active":"naah"'>
    <h1 class="section-title">Aqua news</h1>
    <div class="water"></div>
    <img class="background first" src="../../assets/images/BGs/coral4.png"/>
    <span class="background"></span>
<!--
    <section class="calendar">
        <span class="background"></span>
        
        <h1 class="month-year">
            {{monthName}} {{thisYear}}
        </h1>
        <div class="choose">
            <button class="prev" (click)='previousMonth()'>Prev</button>
            <button class="current">Curr</button>
            <button class="next" (click)='nextMonth()'>Next</button>
        </div>            
        
        <div class="calendar-wrap">
            <div class="dayNames">
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
                <div>Sun</div>
            </div>
            <div class="days">
                <div class="day missing" *ngFor='let fillerDay of thisMonthFillerDays.before'>
                    {{fillerDay }}
                </div>
                <div class="day" *ngFor='let day of thisMonthDays'>
                    <div>{{day.date.getDate()}}  </div>
                    <div class="day-event" *ngFor='let event of day.events'>{{event}}</div>   
                </div>
                <div class="day missing" *ngFor='let fillerDay  of thisMonthFillerDays.after'>
                    {{fillerDay }}
                </div>
            </div>
        </div>  
    </section>-->

    <app-calendar></app-calendar>


    <section class="posts">
        <div class="post-search">
            <select>
                <option>Apples</option>
                <option selected>Pineapples</option>
                <option>Chocklate</option>
                <option>Pancakes</option>
            </select>
            <select>
                <option>Apples</option>
                <option selected>Pineapples</option>
                <option>Chocklate</option>
                <option>Pancakes</option>
            </select>
            <button>
                <div class="background">
                    Search
                </div>
            </button>
        </div>
        <div class="post-thumbnail" *ngFor='let post of posts' (click)='openPost(post)'>
            <div class="content">
                <img src="../../assets/images/fish/fish-underwater-1.jpg" alt="">
                <div class="text">
                    <h1>Post1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo maxime esse reprehenderit mollitia sed quia illo. Vitae error fuga eveniet.</p>
                    <button>
                        Read more <img src="../../assets/icons/arrow-right.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </section>
    <app-paginator [pageSize]="10" [totalSize]="100"></app-paginator>
</main>



<div class="post-view" [ngClass]='currentPost == -1 ? "naah":"active"'>
    <button class="back" (click)="closePost()" [ngClass]='currentPost == -1 ? "naah":"active"'></button>
    <app-post></app-post>
</div>