<main>
    <section class="section1" id='aquarium'>
        <div class="textOne" id='name'>
            <p>KRAKOW AQUARIUM</p>
        </div>
        <div class="next">
            <div class="next-square"></div>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
    </section>

    <section class="section2" id='underwater'>
        <div>
            <img src="../../assets/icons/fishing.svg" alt="">
            <h2>2000+</h2> <br>
            <h4>Animals</h4> 
        </div>
        <div>
            <img src="../../assets/icons/variety.svg" alt="">
            <h2>130+</h2> <br>
            <h4>Different species</h4> 
        </div>
        <div>
            <img src="../../assets/icons/aquarium.svg" alt="">
            <h2>24</h2> <br> 
            <h4>Exhibits</h4>
        </div>
        <div>
            <img src="../../assets/icons/water.svg" alt="">
            <h2>1000</h2> <br> 
            <h4>m3</h4> 
        </div>
        
        
        
        
    </section>
    <section class="section3">
        <div class="image">

        </div>
    </section>

    <section class="section4">

    </section>
</main>


