main{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

svg{
    cursor: pointer;
    path{
        transition: 0.2s;
    }
}

.self-ad{
    position: fixed;
    height: 50vh;
    width: 4rem;
    top: 25vh;
    z-index: -1;
    font-size: 1.3rem;
    display: flex;

    align-items: center;
    justify-content: center;
    filter: invert(50%) sepia(77%) saturate(321%) hue-rotate(118deg) brightness(86%) contrast(87%);
    

    .line{
        height: 4rem;
        width: 2px;
        background-color: black;
        margin: 1rem;
    }
    img{
        width: 1rem;
        margin: 1rem;
    }

    &.left{
        left: 2rem;
        flex-direction: column;
    }

    &.right{
        right: 2rem;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        position: absolute;
        width: 40vw;
        right: 20%;
        top: 10%;
    }

    .text-block{
        width: 50vw;
        left: -10%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        
        .title{
            font-size: 9rem;
            color: var(--colorPrimary);
            animation: text-animation 2s ease forwards;
            z-index: 10;
            position: relative;
            font-weight: 600;
            letter-spacing: 0.5rem;

            &.two{
                z-index: -1;
            }
        }

        .subtitle{
            font-size: 3rem;
            color: var(--colorPrimary);
            z-index: -1;

            animation: text-animation 2s ease forwards;
            animation-delay: 2000ms;
        }
    }


    app-button-diamond{
        position: relative;
        top: 20%;
    }

    app-water-corner{
        position: absolute;
        &.wave-top{
            left: 0vw;
            top: 0; 
        }
        &.wave-bottom{
            right: 0vw;
            bottom: 0;
            transform: rotate(180deg);
        }
    }
}

@keyframes background-animation{
    0%{
        background-color: rgb(0, 103, 167);
    }
    100%{
        background-color: rgb(0, 36, 59);
    }
}

@keyframes text-animation{
    0%{
        color: var(--colorPrimary);
        text-shadow: none;
    } 50%{
        color: var(--colorPrimary);
    } 100%{
        color: var(--colorText);
    }
}

.attractions{
    padding: 2rem;
    // transform: translate(-100%, 0);
    .background-water{
        position: absolute;
        top: 0%;
        left: -5%;
        z-index: -1;
        transform: rotate(-20deg);
    }
    .coral{
        position: absolute;
        right: 0%;
        top: 0;
        width: 15vw;
        height: 15vw;
        // background-image: url('../../assets/images/BGs/coral2-blue.png');
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(-15deg);
        opacity: 0;
    }
    .shape-attractions {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform: translate(-100%, 0);

        .content{
            z-index: 20;
            position: absolute;
            right: 10%;
            top: 10%;
            height: 80vh;
            width: 30vw;
            background-color: var(--colorAccent);
        }
    }
    app-boxes-diamond{
        position: absolute;
        width: 22%;
        height: 22%;
        top: 30%;
        left: 25%;
        transform: translate(-50%,-50%);
        opacity: 0;
    }
}

.about{
    .background{
        position: absolute;
        width: 45%;
        left: 35%;
        top: 30%;

    }
    .content-events{
        z-index: 10;
        position: relative;
        top: 15%;
        left: 5%;
        width: 30%;
        height: 60vh;
        color: var(--colorText);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        h1{
            text-shadow: var(--smooth-shadow-big);
            font-size: 5rem;
            height: 5rem;
            padding: 0;
            width: 100%;

        }

        p{
            position: relative;
            font-size: 1.3rem;
        }
    }
    

    .content-openings{
        position: absolute;
        right: 5%;
        top: 20%;
        width: 40%;
        height: 50%;
        border: 12px solid var(--colorSecondary);
        background-color: var(--colorSecondary);
        color: var(--colorText);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--smooth-shadow-big);

        img{
            width: 100%;
            height: 100%;
            border: 12px solid var(--colorPrimary);
        }

        app-links-diamond{
            position: absolute;
            left: -6.4rem;
            top: 50%;
            transform: rotate(90deg);
        }
    }
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    


    .place-name{
        position: absolute;
        left:10%;
        top: 10%;
        font-size: 6rem;
        color: var(--colorText);
        transition: 0.2s ease;
        text-shadow: var(--smooth-shadow-big);
    }

    #map-raphael{
        svg{
           cursor: pointer; 
        }
        
    }
}

.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .background{
        position: absolute;
        width: 50%;
        left: 50%;
        top: 60%;
        transform: translate(-50%, 0);
        z-index: -1;
    }

    .text{
        font-size: 5rem;
        font-weight: 700;
        color: var(--colorText);
        top: -10%;
        position: relative;
    }

    app-button-three-alt{
        top: -10%;
        position: relative;
    }

}