<div class="self-ad left">
    <div class="line"></div>
    <img src="assets/icons/logo-facebook.svg" alt="">
    <img src="assets/icons/logo-instagram.svg" alt="">
    <img src="assets/icons/logo-linkedin.svg" alt="">
    <img src="assets/icons/logo-twitter.svg" alt="">
    <div class="line"></div>
</div>
<div class="self-ad right">
    <div class="line"></div>
    KRAKOW AQUARIUM
    <div class="line"></div>
</div>
<main>
    <section class = "intro">
        <div class="text">KRAKOW AQUARIUM</div>
        <app-button-diamond></app-button-diamond>
        <app-water-corner class="top"></app-water-corner>
        <app-water-corner class="bottom"></app-water-corner>

    </section>
    <section class = "attractions">
        <div class="coral"></div>
        <div class="shape">
            <div class="content">

            </div>
        </div>

        <div class="diamond-links">
            <app-boxes-diamond
            [img1]='"assets/images/BGs/clownfish-blue.png"'
            [img2]='"assets/images/BGs/orca-blue.png"'
            [img3]='"assets/images/BGs/jellyfish-blue.png"'
            [img4]='"assets/images/BGs/seaweed.png"'
            [textTop]='"What to expect"'
            [textBottom]='"What to see"'></app-boxes-diamond>
        </div>
    </section>
    <section class='about'>
        <div class="shape">
            <div class="content-events">

                <h1>Event title</h1>

                <div class="line"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                    elit. Iure odio explicabo nesciunt incidunt velit 
                    nobis eveniet animi. In, praesentium perferendis! 
                    Accusamus alias aperiam ab, minus tenetur odio 
                    provident, magni, itaque aut iusto dignissimos 
                    dolores blanditiis veritatis animi. Corrupti, 
                    rerum! Dignissimos, odit. Optio nisi adipisci 
                    cum reprehenderit voluptatum eius earum vel, 
                    facere fugit nemo dignissimos porro voluptates 
                    numquam illo repudiandae deserunt?</p>
                <app-button-three-alt [text]="'Read article'"></app-button-three-alt>
                <app-button-three-alt [text]="'Get more events'"></app-button-three-alt>
            </div>
        </div>
        <div class="content-openings">
            <img src="../../assets/images/fish/fish-underwater-1.jpg" alt="">
            <app-links-diamond [links]="routes" [width]="'1.5rem'"></app-links-diamond>


        </div>
    </section>
    <section class="map">
        <div class='place-name'>{{currentHoveredPlace}}</div>
        <div id="map-raphael"></div>
    </section>
</main>